/* reset */
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

html,
textarea,
button {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* general */
.hidden {
  display: none;
}

/* app styles */
#my-list {
  height: 100vh;
  max-width: 640px;
  min-width: 480px;
  background-color: navajowhite;
}

#app {
  height: 100vh;
  width: 100vw;
}
